#main{
    background-color: #219EBC; height: 500px; width: 585px; margin-left: 30%; margin-top: 5%; border-radius: 5px;
     }

input{
    margin: 5px; font-size: 40px; width: 100px; height:60px; margin: 20px; background-color: #023047; color: #ffb703; border-radius: 10px;
     }

#bar{
    text-align: left; display: inline-block; width: 90%; background-color: #415a77; 
     }

h1{
    text-align: center; 
     }

body{
    background-color: #8ecae6;
     }
