@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

h1 {
    font-family: Kalam;
    font-size: 48px;
    color: aliceblue;
    text-align: center;
}

body {
    background-color: #31395c;
    color: #fff;
}

.stopwatch {
    /* margin-top: 5rem; */
    display: grid;
    justify-items: center;
    row-gap: 23px;
    width: 100%;
    padding-top: 25px;
}

.glow {
    font-weight: 900;
    color: #f2c94c;
    text-shadow: 0 0 0 #fff, 0 0 50px #f2c94c;
}

.time {
    font-weight: 300;
    font-size: 64px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.controls {
    display: flex;
    justify-content: center;
    width: 178px;
}

button {
    background: transparent;
    padding: 0;
    border: none;
    margin:0;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active {
    transform: scale(0.9);
}

button:hover {
    color: #f2c94c;
}

.play {
    display: block;
}

.pause {
    display: none;
}