* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    color: #ffffff;
    background: linear-gradient(135deg, #008170, #0f0f0f);
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin-left: 15%;
    margin-top: 10%;
}

.calculator h1 {
    font-size: 50px;
    transition: font-size ease-out .5s;
}

.calculator h1:hover {
    color: #008170;
    font-size: 60px;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: 1px;
    
}

.input-box {
    /* width: 100%;
    height: 100px; */
    margin: 40px 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
}

.input-box input {
    /* width: 100%;
    height: 100%;
    border: none; */
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    /* cursor: pointer; */
}

.input-box button {
    background: #008170;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.input-box input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

#result {
    font-size: 20px;
    color: white;
}

#result span {
    font-weight: bold;
    color: yellow;
}

